.menu_title_container {
    color: white;
}

.menu_title_container > h1{
    
    margin-bottom: 15px;
    font-size: 6.5em;
    font-weight: bolder;
    display: flex;
    justify-content: center;

}

.menu_title_container > hr{
    margin-top: 13.5px;
    margin-bottom: 13.5px;
   
}