
<app-menu-title></app-menu-title>

<div class="articles">
    <div class="articles_main">
        <app-big-card
         Id="0" 
         cardTitle="Texto de Exemplo" cardDescription="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi at quis libero, recusandae blanditiis maiores labore, delectus beatae ipsa, doloremque ullam magni illum a exercitationem? Dicta aliquam suscipit provident consectetur." ></app-big-card>
        
    </div>
    <div class="articles_others">
        <app-small-card
        Id="1"
        photoCover="https://images.pexels.com/photos/4587991/pexels-photo-4587991.jpeg?auto=compress&cs=tinysrgb&w=600" cardTitle="Cães são silenciados em reuniões no plenário e gera revolta!"></app-small-card>
        <app-small-card 
        Id="2"
        photoCover="https://images.pexels.com/photos/2647053/pexels-photo-2647053.jpeg?auto=compress&cs=tinysrgb&w=600" cardTitle="Vacas cada vez mais indepentes e atualizadas!"></app-small-card>
        <app-small-card
        Id="3"
        photoCover="https://images.pexels.com/photos/825949/pexels-photo-825949.jpeg?auto=compress&cs=tinysrgb&w=600" cardTitle="Inácio"></app-small-card>
    </div>
</div>

